<h1>Tus Datos</h1>

<ul>
    <li>Nombre: {{first_name}}</li>
    <li>Apellido: {{last_name}}</li>
    <li>Correo: {{email}}</li>
    <li>Edad: {{age}}</li>
    <li>Rol: {{role}}</li>
</ul>
<a href="/products">Ir a productos</a>
