<h1>Bienvenido</h1>

<h2>Usuario: {{user.first_name}} {{user.last_name}} {{user.role}} (<a href="/profile">Ver perfil</a>)</h2>
<p id="cid" data-cid="{{user.cart}}">Carrito: {{user.cart}}</p>



<button class=""><a href="/api/sessions/logout">Cerrar sesion</a></button>
<hr />


<section class="products">
  <h3>Products</h3>
  <article class="productsCards">
      {{#each products}}
      <div class="card">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <p>Código: {{this.code}}</p>
          <p>Precio: {{this.price}}</p>
          <p>Stock: {{this.stock}}</p>
          <p>Categoría: {{this.category}}</p>
          <button class="btn btn-success" onclick="addProductToCart('{{this._id}}')">Agregar al carrito</button>
      </div>
      {{/each}}
  </article>
</section>

<div align="center" class="paginate">
    {{#if paginateInfo.hasPrevPage}}
        <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
        <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
        <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}
</div>




<script>
  let cartId = document.getElementById('cid');
  let cid = cartId.getAttribute('data-cid');

let addProductToCart = (pid) => {
  fetch(`/api/carts/${cid}/product/${pid}`, {
    method: 'post',
  })
    .then(result => result.json())
    .then(result => {
      if (result.status === 'error') throw new Error(result.error) 
        alert(`Producto agregado al carrito con éxito id=${result.payload._id}`);
      
    })
    .catch(error => alert('Ocurrio un error,' + error));
}

</script>


    
